<div id="meal-card">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>Meal 1</h1>
        <h1>{{msg}}</h1>
        <h2>How many calories for this meal?</h2>
        <form action="#">
          <p class="range-field">
            <input type="range" id="test5" min="0" max="100" />
          </p>
        </form>
        <h2>What foods would you like to eat?</h2>
        <form action="#">
          <p class="range-field">
            <input type="range" id="test5" min="0" max="100" />
          </p>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
