
/* General Styling */

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #F78B2D;
  background-image: url("../images/callo11.png");
  background-attachment: fixed;
  background-size: 90% 90%;  
  color: #fff;
}

nav ul a,
nav .brand-logo {
  color: #222;
}

p {
  line-height: 1.5rem;
}

.sidenav-trigger {
  color: #7aa801;
}


.list-group-item {
  line-height: 2.5;
}


input[type=range] + .thumb.active .value {
  color: #C7DB00;
  margin-left: 2px;
  margin-top: 2px;
  font-size: 10px;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #C7DB00;
}

input[type=range]::-moz-range-thumb {
  background-color: #C7DB00;
}

input[type=range]::-ms-thumb {
  background-color: #C7DB00;
}

input[type=range] + .thumb {
  background-color: #C7DB00;
}

input[type=range] + .thumb.active .value {
  color: #222;
}


.range-field {
  border: 1px solid #fff;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 25px;
}


.header {
  color: #fff;
  text-shadow: 1px 1px 2px #444;
}


.white {
  background-color: #C7DB00 !important;
}


.top-section,
.top-section-meal {
  background-color: rgba(43, 41, 41, 0.955);
  padding: 5px;
  border-radius: 20px;
  margin-top: 25px;
  box-shadow: 1px 2px 4px rgba(77, 74, 74, 0.6);
}


.bottom-section,
.bottom-section-meal {
  background-color: rgba(43, 41, 41, 0.955);
  padding: 25px;
  border-radius: 20px;
  margin-top: 25px;
  box-shadow: 1px 2px 4px rgba(77, 74, 74, 0.6);
}


/* Home Page */

/* .home-nav {
  display:none;
} */

#total-calories-day {
  font-size: 40px;
}

#day-calorie-box {
  background: #C7DB00;
  color: #222;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 1px 2px 4px rgba(77, 74, 74, 0.6);
}

#total-meals-day{
  font-size: 40px;
}


#day-meal-box {
  background: #C7DB00;
  color: #222;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 1px 2px 4px rgba(77, 74, 74, 0.6);
}


.btn-large {
  border-radius: 30px;
  width: 300px;
  font-size: 25px;
  background-color: #C7DB00;
  color: #777;
}


.btn-large:hover {
  background-color: #F78B2D;
  color: #fff;
}


/* Meal Pages */

.main {
  margin-right: 500px; /* Same width as the sidebar + left position in px */
}

.sidebar {
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 292px;
  right: 90px;
  background-color: rgba(43, 41, 41, 0.955);
  color: #fff;
  border: 1px solid #fff;
  overflow-x: hidden;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 1px 2px 4px rgba(77, 74, 74, 0.6);
}

.ui-autocomplete {
  z-index: 100;
}

#total-calories-meal {
  font-size: 40px;
  color: #fff; 
  text-align: center;
}


#current-meal {
  font-size: 40px;
  color: #fff; 
  text-align: center;
}


#over-under {
  font-size: 40px;
  color: #fff; 
  text-align: center;
}


#total-calories-meal-mobile {
  font-size: 40px;
  color: #fff; 
  text-align: center;
}


#current-meal-mobile {
  font-size: 40px;
  color: #fff; 
  text-align: center;
}


#over-under-mobile {
  font-size: 40px;
}


.over-under-row {
  margin-bottom: 0;
}


.mobile-over-under {
  background: #000;
  color: #fff;
}



footer.page-footer {
  background-color: #C7DB00;
  color: #666 !important;
}


.footer-link,
.footer-copyright {
  color: #666 !important;
}


.pre-footer {
  margin: 0;
  position: relative;
  z-index: 2;
}


footer.page-footer {
  margin: 0;
  position: relative;
  z-index: 3;
}


@media screen and (min-width: 900px) {

  .over-under-row {
    display: none;
  }

}


@media only screen and (max-width : 992px) {

  h1 {
    font-size: 50px;
  }

  p {
    font-size: 18px;
  }

  body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #F78B2D;
    background-image: url("../images/callo3.png");
    background-attachment: fixed;
    background-size: 100% 100%;  
    color: #fff;
  }

  .top-section-meal {
    margin-right: 30px;
  }

  .bottom-section-meal {
    margin-right: 30px;
  }

  .range-field {
    width: 100%;
  }

  .home-range {
    margin-left: 28px;
  }

  #day-calorie-box {
    display: block;
    margin-top: 15px;
    margin-left: 75px;
    width: 300px;
  }

  #day-meal-box {
    display: block;
    margin-top: 15px;
    margin-left: 75px;
    width: 300px;
  }

  .btn-large {
    margin-left: 75px;
    margin-bottom: 30px;
  }


  .sidebar {
    display: none;
  }

  .over-under-row {
    display: block;
  }

 .day-meal-box {
    display: block;
  }

  .main {
    margin-right: 25px;
  }

}


@media only screen and (max-width : 600px) {

  body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #F78B2D;
    background-image: url("../images/callo3.png");
    background-attachment: fixed;
    background-size: 90% 90%;  
    color: #fff;
  }

  .sidebar {
    display: none;
  }

  .over-under-row {
    display: block;
  }
  
}



